*{
    
    padding:0px;
    margin:0px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
     background: linear-gradient(to right, #4facfe, #00f2fe);
     /* background-image:url("3409297.jpg");
     background-size:cover;
    */
}
.logun{
    box-shadow:10px 10px 15px black ;
    width:420px;
    height:370px;
    position:relative;
    top:30vh;
    margin-left:40vw ;
    background-color:whitesmoke;
    border-radius:20px;
    
    
}
form{
      display:flex;
    flex-direction:column;
    
    align-items:center;

}

    
    


.inp{
    margin-top:30px;
    height:23px;
    width:250px;
    border:none;
    border-radius:10px;
    padding:5px;
     

}

#sub{
 padding-top:10px;
    margin-top:30px;
        height:30px;
        width:120px;
        border:2px solid black;
        text-align: center;
        border-radius: 10px;
    
        

}

h2{ 
    color: blue;
    text-align: center;
}
p{
    margin-top:40px;
}
a{
    text-decoration:none ;
}
.go a{
    margin-left:5px;
}
